@import 'color-palette';

input {
  height: 43px;
  border: 1px solid $light-gray;
  border-radius: 5px 0 5px 5px;
  font-size: 0.875em;
  padding: 0 8px;

  &.validation-enabled {
    &.ng-dirty.ng-invalid {
      border-left: $red 2px solid;
    }
    &.ng-valid {
      border-left: $green 2px solid;
    }
  }
}

label {
  color: $dark-gray;
  font-size: 0.75em;
  margin-bottom: 5px;
}

div.form-group {
  margin-bottom: 10px;
}
